<p class="lang-links">
  <a href="/articles/en" class="fancy-pants">Articles in English</a>
  |
  <a href="/articles/es" class="fancy-pants">Art&iacute;culos en Espa&ntilde;ol</a>
</p>

<% @articles.each do |article| %>
  <article>
    <header>
      <p class="title">
        <a href="<%= article_path article.slug %>"><%= article.title %></a>
      </p>
      <p class="publish-date">
        <%= published_at article.lang  %>&nbsp;<%= article.date %>
      </p>
    </header>
    <p>
      <%= article.intro %>
    </p>
    <p>
      <a href="<%= article_path article.slug %>" class="read-more fancy-pants">
        <%= read_more article.lang %>
      </a>
    </p>
  </article>
<% end %>
