<article class="fancy-border">
  <header>
    <h1>
      <%= @article.title %>
    </h1>

    <p class="muted">
      <small>
        <%= published_at @article.lang %>&nbsp;<%= @article.date %>
      </small>
    </p>

    <% if @article.spanish_version %>
      <a href="<%= article_path(@article.spanish_version) %>" class="btn btn-inverse">Leer versi&oacute;n en Espa&ntilde;ol</a>
    <% elsif @article.english_version %>
      <a href="<%= article_path(@article.english_version) %>" class="btn btn-inverse">Read English version</a>
    <% end %>
  </header>
  <hr />
  <p><%= @article.content %></p>
</article>

<script type="text/javascript" src="/javascripts/article.js"></script>
<%= erb :hljs %>
<%= erb :disqus %>
