<div class="readings">
  <% @readings.each do |reading| %>
    <blockquote>
      <p><a class="text-info" href="<%= reading.url %>"><%= reading.title %></a></p>
      <p><%= reading.author %></p>
      <small><i>Status: <%= reading.status %></i></small>
      <p><%= reading.opinion %></p>
    </blockquote>
  <% end %>
</div>
